html,
body {
    padding: 0;
    margin: 0;
    font-family: "Proxima Nova", sans-serif;
    color: #333333;
    font-size: 1em;
    line-height: 1.4;
}

body {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    max-width: 30em;
}

main {
    flex: 1;
}

main > section {
    display: none;
}

main > section.active {
    display: block;
}

footer {
    padding: 2em 1em;
    margin-top: 2em;
    background-color: rgb(237, 237, 237);
}


nav {
    background-color: #F7A100;
    color: #FFFFFF;
    position: relative;
    z-index: 100;
}

nav #logoTop {
    display: inline-block;
    height: 100%;
    width: 6em;
    align-self: center;
    padding: 0;
    margin-right: .5em;
}

nav #logoTop img {
    max-width: 10em;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0 0 0 auto;
    align-self: center;
    display: inline-block;
    padding:0;
    font-size: 0;
}

nav li {
    border-left: .1em solid #DE9000;
    display: inline-block;
    font-size: 1rem;
}

nav li:last-of-type {
    border-right: .1em solid #DE9000;
}

nav li span.value {
    display: none;
}

nav li a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: .75em 1em;
    background-color: transparent;
    transition: background-color .5s ease;
}

nav li a:hover,
nav li a:focus {
    background-color: #DE9000;
}

@media screen and (min-width: 480px) {

    nav #logoTop {
        flex-basis: auto;
        padding: 0;
    }

    nav ul {
        margin: 0 0 0 auto;
    }

    nav li span.value {
        display: inline-block;
    }

    nav li a {
        display: block;
        color: #FFFFFF;
        text-decoration: none;
        padding: 1em 1.5em;
    }

}

input,
select {
    background-color: #FFFFFF ;
    border: .1em solid #EDEDED;
    box-sizing: border-box;
    padding: .5em .75em;
    font-size: 1em;
    border-radius: 0;
    margin: 0;
    width: 100%;
}

select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: url(../images/arrowDown.svg) #FFFFFF no-repeat;
    background-position: center right 0.25em;
    background-size: 1.3em;
    padding-right: 2em;
}

label,
label[for="searchField"] {
    width: 100%;
    align-self: flex-end;
}

label > span {
    display: block;
    font-weight: 700;
    margin: 1em 0 .2em;
}

input:active,
input:focus,
select:active,
select:focus{
    border: .1em solid #60C5F8;
    outline: none;
}

input:valid {
    outline: none;
    border: .1em solid rgba(172, 199, 0, .5);
    background-color: rgba(172, 199, 0, .1);
}

input[type="search"] {
    width: 100%;
}

input[type="submit"],
.linkSuggestions {
    background-color: #0071B3;
    color: #FFFFFF;
    transition: background-color .5s ease, border-color .5s ease;
    cursor: pointer;
    box-sizing: border-box;
    margin: 1em auto;
    border-color: #0071B3;
    border-radius: .15em;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
.linkSuggestions:hover,
.linkSuggestions:focus {
    background-color: #DE9000;
    border-color: #DE9000;
}

@media screen and (min-width: 580px) {

    label {
        width: 32.33%;
        margin:.2em .5%;
    }

    label[for="submit"] {
        margin: .2em auto;
    }

    input[type="submit"] {
        margin: 0 auto;
    }

}

@media screen and (min-width: 800px) {

    label {
        width: 19%;
        margin:.2em .5%;
    }

    label[for="submit"] {
        flex-basis: 40%;
        max-width: 40%;
        margin: .5em auto;
    }

    input[type="submit"] {
        margin: 0 auto;
    }

}

#searchFields {
    background-color: #E6F2F7;
    padding: .5em 0;
    position: relative;
    z-index: 100;
}

#noSearchResults > p {
    margin: 0 auto;
}

.loaderAjax {
    position: absolute;
    z-index:99;
    text-align: center;
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,1);
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.loaderAjax span {
    margin: 0 auto;
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(247, 161, 0);
    animation: spinner-in-out 1s infinite linear;
}

.container {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.container > section {
    flex-basis: 100%;
    max-width: 100%;
}

.container > article {
    flex-basis: 100%;
    max-width: 100%;
    order: 3;
}

.container > aside {
    flex-basis: 100%;
    max-width: 100%;
    order: 1;
}

.container > h2 {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    order: 2;
}

.suggestionsBanner {
    box-sizing: border-box;
    padding: 1.25em 1em;
    background-color: #E6F2F7;
    color: #333333;
    margin: 2em 0;
    height: 100%;
    text-align: center;
}

.suggestionsBanner h4 {
    margin: 0;
    text-align: left;
}

.linkSuggestions {
    display: inline-block;
    text-decoration: none;
    padding: .8em 1em;
    background-color: rgb(247, 161, 0);
    margin-bottom: 0;
}

@media screen and (min-width: 480px) {

    .container > aside {
        flex-basis: auto;
        margin: 2em auto;
        max-width: 30em;
    }

}

@media screen and (min-width: 800px) {

    .container > h2 {
        text-align: left;
        order: 1;
    }

    .container > aside {
        flex-basis: 40%;
        max-width: 40%;
        order: 3;
        margin: 0 0 0 5%;
    }

    .container > article {
        flex-basis: 55%;
        max-width: 55%;
        order: 2;
    }

}

.show {
    display: flex;
}

.hide {
    display: none;
}

.disabled a {
    opacity: .3;
    cursor: default;
}

.result {
    max-width: 40em;
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    position: relative;
    border-bottom: .1em solid #EDEDED;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.result:first-of-type {
    border-top: .1em solid #EDEDED;
}

.result img {
    align-self: flex-start;
    flex-basis: 100%;
    max-width: 100%;
}

.result .infoHome {
    align-self: center;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
}

.result h3 {
    margin-bottom: .3em;
}

.result .title {
    color: #0071B3;
    text-decoration: none;
    background-color: rgba(237,237,237, 0);
}

.result .address {
    margin-top: 0;
}

.result .title::after {
    content: "";
    position: absolute;
    z-index:10;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    transition: background-color .5s ease;
}

.result .title:hover::after,
.result .title:focus::after {
    background-color: rgba(237,237,237, 0.4);
    content: "";
    position: absolute;
    z-index:1;
    top:0;
    bottom: 0;
    right:0;
    left:0;
}

@media screen and (min-width: 580px) {

    .result {
        margin: 0 auto;
        padding: 1em 0;
    }

    .result img {
        flex-basis: 40%;
        max-width: 40%;
        align-self: center;
    }

    .result .infoHome {
        flex-basis: 60%;
        max-width: 60%;
        padding: 0 1em;
    }

}

.icon-heart-white {
    background: url(../images/heart.svg) no-repeat;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    margin-right: .5em;
    background-size: cover;
}

.icon-light-white {
    background: url(../images/idea-light.svg) no-repeat;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    background-size: cover;
    margin-right: .5em;
    animation-iteration-count: 3;
}

.icon-search-white {
    background: url(../images/search-icon.svg) no-repeat;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    margin-right: .5em;
    background-size: cover;
}

nav .icon-heart-white,
nav .icon-light-white {
    margin-right: 0;
}

@media screen and (min-width: 480px) {

    nav .icon-heart-white,
    nav .icon-light-white,
    .icon-heart-white,
    .icon-light-white,
    .icon-search-white{
        margin-right: .5em;
    }

}

.animatedLight .icon-light-white {
    animation-duration: 1s;
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes spinner-in-out {
    0% {
        opacity:1;
        transform: scale(1, 1);
    }
    50% {
        opacity:.2;
        transform: scale(.5, .5);
    }
    100% {
        opacity:1;
        transform: scale(1, 1);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -20px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0,-8px,0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}